<div class="index">

  <div class="cards-container col-6 mt-4">
    <h1>Your Booking :</h1>
    <div class="single-card">
      <div class="single-card-image">

        <%=cl_image_tag @booking.location.photo%>
      </div>
      <div class="single-card-content">
        <h4 class="card-title"> <%= @booking.location.name %></h4>
        <h5 class="card-adress"> <%= @booking.location.address %></h5>
        <h5 class="card-adress"> Owner:<%= @booking.location.user.first_name%></h5>
        <h5 class="card-adress"> Renter: <%= @booking.user.first_name%>></h5>
        <h5 class="card-hourly-rate"> <%= @booking.total_price%></h5>
        <h5 class="card-hourly-rate"> <%= @booking.start_date.strftime('%e %m %Y - %H %p') %>  | |
          <%= @booking.end_date.strftime('%e %m %Y - %H %p')%></h5>
        </div>
      </div>
      <div class="confirmation">
        <% if current_user == @booking.location.user %>
        <% if @booking.accepted %>
        <div class="text-white badge badge-success">
          <h3>booking confirmed</h3>
        </div>
        <% else %>
        <%= link_to 'Accept reservation', booking_path(@booking), method: :patch, remote: true, class: 'btn btn-info'  %>
        <% end %>
        <% end %>
      </div>
    </div>
    <div id="map"
  style="width: 600px"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
  </div>


</div>




