<div class="container">
  <div class="row justify-content-center">
    <h3>Add a new location</h3>
  </div>
  <%= simple_form_for [:profile, @location] do |f| %>
  <div class="col-auto"> <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :description %>
    <%= f.input :hourly_rate %>
    <%= f.input :commercial_use %>
    <%= f.input :monument %>
    <%= f.input :landscape %>
    <div class="row justify-content-center">
    <%= f.button :submit, class: 'btn btn-flat' %>
  </div>
  <% end %>
  </div>
