<div class="index">
  <div class="cards-container">
    <div class="search-container">
      <h4 class="title pt-3 pb-2 p-0">More Than <%= Location.count %> Viuz, explore them</h4>
      <div class="d-flex justify-content-around mt-4">
        <div class="search-bar flex-grow-1">
          <%= form_tag locations_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control" , placeholder: "Find a location" %>
        </div>
        <div class="pl-2">
          <%= submit_tag "Search", class: "btn btn-seach-bar" %>
        </div>
      </div>
      <% end %>
    </div>
    <% @locations.each do |element| %>
    <div class="single-card">
      <div class="single-card-image">
        <%= cl_image_tag(element.photo)%>
      </div>
      <div class="single-card-content">
        <h4 class="card-title"> <%= element.name %></h4>
        <h5 class="card-adress"> <%= element.address %></h5>
        <h5 class="card-hourly-rate"> <%= element.hourly_rate %> euros</h5>
        <%= link_to 'Details', location_path(element.id), class: 'btn btn-flat'  %>
      </div>
    </div>
    <% end %>
  </div>
  <div id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

</div>
