
<div class="container-index">
  <div class="card-container pt-4 row offset-3 justify-content-start"> <!-- // pt-4 row offset-3 justify-content-start -->
    <% @locations.each do |element| %>
      <div class="card p-2 m-3" style="width: 18rem;">
        <%= cl_image_tag(element.photo, height: 300, width: 300, class: "card-img-top") %>
        <div class="card-body">
          <h4 class="card-title"> <%= element.name %></h4>
          <h5 class="card-title"> <%= element.address %></h5>
          <h5 class="card-title"> <%= element.hourly_rate %></h5>
          <%= link_to 'Spectace the View', location_path(element.id), class: 'btn btn-success'  %>
        </div>
      </div>
  <% end %>
  </div>
  <div
  id="map"
  style="width: 80%;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>


