<h3>Add a new location</h3>
<%= simple_form_for @location do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :photo %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :description %>

<% end %>
