<div class="container">
  <div class="card-show">
    <div class="row">
      <div class="col-8 img-fit">
        <%=@location.photo, alt: "alttext",  class: "img-fit" %>
      </div>
      <div class="col-4 main-div" >
        <div class="container py-3">
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
        <div class="container p-3">
          <h1><%= @location.name %></h1>
          <h2><%= @location.address %></h2>
        </div>
        <div class="d-flex p-3 ">
          <p><%= @location.start_date%></p>
          <p class="px-5"><%= @location.end_date %></p>
        </div>
        <h2 class="p-3"><%= @location.hourly_rate %>NOK</h2>
      </div>
    </div>
  </div>


