<div class="row mt-3">
  <div class="col-12">
    <%=cl_image_tag @location.photo, alt: "alttext",  class: "img-cover" %>
  </div>
</div>
<div class="row pt-3 ml-5 main">
  <div class="col-6 container">
    <div class="d-flex justify-content-center">
      <div class="container">
        <div class="info-card d-flex">
          <div class="info">
            <h2><%= @location.name %></h2>
            <h3><%= @location.address %></h3>
            <div class="container p-0">
              <p><%= @location.description %></p>
            </div>
          </div>
          <div class="avatar">
           <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
         </div>
       </div>
       <div
       id="map"
       style="width: 90%"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
     </div>
   </div>
 </div>
 <div class="col-6">
  <div id="availability" class="d-flex">
    <p> from: <%= @location.start_date.strftime('%e %m %Y - %H %p') %></p>
    <p class="px-2 m-0"> to: <%= @location.end_date.strftime('%e %m %Y - %H %p') %></p>
  </div>
  <h2 class=""><%= @location.hourly_rate %> euros</h2>
  <div class="form">
    <%= simple_form_for [@location, @booking] do |f| %>
    <div class="col-auto">
      <%= f.input :start_date , discard_minute: true %>
      <%= f.input :end_date, discard_minute: true %>
      <div class="row justify-content-center">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
  </div>
</div>







